<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Express Website</title>
  </head>
  <body>
    {{> header}}
    <h2>Some of my node.js projects:</h2>
    {{> footer}}
  </body>
</html>
